body {
  margin: 0;
  padding: 0;
  background: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: orangered;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  /* margin: 10px; */
  font-size: 30px;
}

label {
  display: block;
}

span {
  color: red;
}

.form_div {
  /* background: whitesmoke; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form_item {
  margin: 20px 0;
}

form {
  color: black;
  background: white;
  padding: 50px;
  border-radius: 10px;
}

.submit {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

#submit_btn {
  color: orangered;
  border: 1px solid orangered;
  background: transparent;
  border-radius: 30px;
  padding: 5px 15px;
  text-transform: capitalize;
  transition: ease-in;
}

#submit_btn:hover {
  color: white;
  background: orangered;
  padding: 5px 25px;
}

.all_icon {
  display: flex;
}

.icon {
  margin: 5px;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon:hover {
  color: orangered;
  background: white;
}
footer {
  height: 50px;
  background: orangered;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
